.env
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ruff_ignore/
.ruff_cache/
.ruff_ignore/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
block_examples
*.json
*.db
*.db.*
*.db-journal
run.bat